# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
/*

# Directory (contents) ignores
homeassistant/.cloud
homeassistant/.storage
homeassistant/deps

# Specific file ignores
homeassistant/.uuid
homeassistant/ip_bans.yaml
homeassistant/known_devices.yaml
homeassistant/secrets.yaml
**/*.log
**/*.db
**/*.conf
**/*.xml
homeassistant/node-red/.config.json.backup

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md
!homeassistant/
!gitupdate.sh
