# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
/*

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps

# Specific file ignores
config/.uuid
config/ip_bans.yaml
config/known_devices.yaml
config/secrets.yaml
**/*.log
**/*.db
**/*.conf
**/*.xml
config/node-red/.config.json.backup

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md
!config/
!gitupdate.sh
