# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
/*

# Directory (contents) ignores
homeassistant/.cloud
homeassistant/.storage
homeassistant/deps

# Specific file ignores
homeassistant/.uuid
homeassistant/ip_bans.yaml
homeassistant/known_devices.yaml
homeassistant/secrets.yaml
**/alexa_media.*.pickle
**/*.log
**/*.db
**/*.db-shm
**/*.db-wal
**/*.conf
**/*.xml
**/*.pyc
**/*.json.backup
**/flows_cred.json

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md
!homeassistant/
!gitupdate.sh
!sanitise.sh
!.gitattributes
!.gitlab-ci.yml
