#
# HTTP
#
http_base_url: https://my.domain.example.com
http_password: REDACTED
http_cors_allowed_origins: REDACTED
http_trusted_proxies: 0.0.0.0

http_sound: https://my.domain.example.com
http_icon: https://my.domain.example.com
http_smallicon: https://my.domain.example.com
http_image: https://my.domain.example.com

zwave_network_key: REDACTED

#
# Basic Privacy Settings
#
realname_his: REDACTED
realname_hers: REDACTED
person_stuart: REDACTED
person_kareen: REDACTED
person_stuart_picture: https://my.domain.example.com
person_kareen_picture: https://my.domain.example.com
person_allan_picture: https://my.domain.example.com
person_colin_picture: https://my.domain.example.com
person_irene_picture: https://my.domain.example.com
person_john_picture: https://my.domain.example.com
person_kayleigh_picture: https://my.domain.example.com
person_kev_picture: https://my.domain.example.com
person_khristen_picture: https://my.domain.example.com
person_maureen_picture: https://my.domain.example.com
person_mecha_picture: https://my.domain.example.com
person_scott_picture: https://my.domain.example.com
person_steve_picture: https://my.domain.example.com
uk_transport_bus_a_origin: REDACTED
uk_transport_bus_a_dest: REDACTED
uk_transport_bus_b_origin: REDACTED
uk_transport_bus_b_dest: REDACTED

#
# Notify
#
synology_webhook_hass_synchat: https://my.domain.example.com
synology_webhook_synchat_hab: https://my.domain.example.com
synology_webhook_synchat_nx: https://my.domain.example.com
synology_webhook_synchat_outside: https://my.domain.example.com
synology_webhook_synchat_tts: https://my.domain.example.com
synology_webhook_synchat_tweets: https://my.domain.example.com
synology_webhook_synchat_visitorlog: https://my.domain.example.com

lock_his_pc: REDACTED
hibernate_his_pc: REDACTED

#
# Service Addresses
#
his_ip_range: 0.0.0.0/24
her_ip_range: 0.0.0.0/24
dhcp_ip_range: 0.0.0.0/24
guest_ip_range: 0.0.0.0/24
iot_ip_range: 0.0.0.0/24
namp_host_backup_box: 0.0.0.0

# MQTT Brokers / Docker Host IPs
nmap_exclude_1: 0.0.0.0
nmap_exclude_2: 0.0.0.0
nmap_exclude_3: 0.0.0.0
# Gateways
nmap_exclude_4: 0.0.0.0
nmap_exclude_5: 0.0.0.0
nmap_exclude_6: 0.0.0.0
# APs
nmap_exclude_7: 0.0.0.0
nmap_exclude_8: 0.0.0.0
nmap_exclude_9: 0.0.0.0
nmap_exclude_10: 0.0.0.0

hue_bridges_host: 0.0.0.0
traccar_host: REDACTED
traccar_port: 1234
iframe_portainer_url: https://my.domain.example.com
iframe_traccar_url: https://my.domain.example.com
iframe_ide_url: https://my.domain.example.com
iframe_nginx_url: https://my.domain.example.com
iframe_zwave2mqtt_url: https://my.domain.example.com
iframe_grocy_url: https://my.domain.example.com
iframe_find3_url: https://my.domain.example.com
plex_server_host: 0.0.0.0
plex_server_name: REDACTED
mqtt_broker: 0.0.0.0
mqtt_broker_port: 1234
mqtt_broker_username: REDACTED
mqtt_broker_password: REDACTED
synology_cams: https://my.domain.example.com
synology_ip: 0.0.0.0
synology_password: REDACTED
synology_user: REDACTED
unifi_host: 0.0.0.0
unifi_port: 1234
unifi_username: REDACTED
unifi_password: REDACTED
grocy_url: https://my.domain.example.com
grocy_url_chore_1: /path/to/curl/command
grocy_url_chore_2: /path/to/curl/command
grocy_url_chore_3: /path/to/curl/command
grocy_url_chore_1_done: /path/to/curl/command
grocy_url_chore_2_done: /path/to/curl/command
grocy_url_chore_3_done: /path/to/curl/command
grocy_url_stock_1: /path/to/curl/command
grocy_url_stock_2: /path/to/curl/command
grocy_url_stock_3: /path/to/curl/command

#
# Static Wemo Switches
#
wemo_static_switch_1: 0.0.0.0
wemo_static_switch_2: 0.0.0.0
wemo_static_switch_3: 0.0.0.0

#
# Usernames / Passwords
#
traccar_username: REDACTED
traccar_password: REDACTED
influxdb_username: REDACTED
influxdb_password: REDACTED
nodered_username: REDACTED
nodered_password: REDACTED
webmail_username: REDACTED
webmail_password: REDACTED
webmail_cal_main: https://my.domain.example.com
webmail_cal_notes: https://my.domain.example.com
alexa_username: REDACTED
alexa_password: REDACTED
alexa_domain: REDACTED
tile_email: REDACTED
tile_password: REDACTED
steam_api: REDACTED
steam_user: 0
nginx_proxy_username: REDACTED
nginx_proxy_password: REDACTED
tuya_username: REDACTED
tuya_password: REDACTED
tuya_countryCode: 1

nodered_endpoint_books: https://my.domain.example.com
nodered_endpoint_books_search: https://my.domain.example.com
nodered_endpoint_books_author: https://my.domain.example.com

#
# API Keys
#
nest_client_id: REDACTED
nest_client_secret: REDACTED
darksky_api_key: REDACTED
uptimerobot_api_key: REDACTED
uk_transport_app_id: 0
uk_transport_app_key: REDACTED
gitlab_token: REDACTED
gitlab_url: https://my.domain.example.com
aftership_key: REDACTED
github_access_token: REDACTED
grocy_api_key: REDACTED
plex_server_token: REDACTED
joaoapps_his_key: REDACTED
joaoapps_his_id_pc: REDACTED
joaoapps_his_id_phone: REDACTED
joaoapps_her_key: REDACTED
joaoapps_her_id_phone: REDACTED
coinbase_api_key: REDACTED
coinbase_api_secret: REDACTED
giltab_token_hacs: REDACTED

#
# GitLab Project Curl Commands
#
gitlab_project_279: /path/to/curl/command
gitlab_project_274: /path/to/curl/command
gitlab_project_252: /path/to/curl/command

#
# Zones
#
zone_home_latitude: 0.0000000000000
zone_home_longitude: 0.0000000000000
zone_home_elevation: 0
zone_holiday_highands_latitude: 0.0000000000000
zone_holiday_highands_longitude: 0.0000000000000
zone_parents_hers_latitude: 0.0000000000000
zone_parents_hers_longitude: 0.0000000000000
zone_parents_his_latitude: 0.0000000000000
zone_parents_his_longitude: 0.0000000000000
zone_sibling_his_latitude: 0.0000000000000
zone_sibling_his_longitude: 0.0000000000000
zone_work_his_latitude: 0.0000000000000
zone_work_his_longitude: 0.0000000000000
zone_work_hers_a_latitude: 0.0000000000000
zone_work_hers_a_longitude: 0.0000000000000
zone_work_hers_b_latitude: 0.0000000000000
zone_work_hers_b_longitude: 0.0000000000000

#
# MQTT Topics
#
dev_printer_hp: REDACTED

#
# Shell Scripts
#
shell_plex_music_evening: /path/to/shell/command
shell_plex_music_morning: /path/to/shell/command