#
# HTTP
#
http_base_url: REDACTED
http_server_port: 0
http_cors_allowed_origins: REDACTED
http_trusted_proxies: 0.0.0.0

zwave_network_key: REDACTED

#
# Basic Privacy Settings
#
realname_his: REDACTED
realname_hers: REDACTED
person_stuart: REDACTED
person_kareen: REDACTED
person_stuart_picture: REDACTED
person_kareen_picture: REDACTED
uk_transport_bus_a_origin: REDACTED
uk_transport_bus_a_dest: REDACTED
uk_transport_bus_b_origin: REDACTED
uk_transport_bus_b_dest: REDACTED

#
# Service Addresses
#
home_ip_range: 0.0.0.0/24
hue_bridges_host: 0.0.0.0
traccar_host: REDACTED
traccar_port: 0
iframe_portainer_url: REDACTED
iframe_traccar_url: REDACTED
iframe_ide_url: REDACTED
iframe_nginx_url: REDACTED
iframe_zwave2mqtt_url: REDACTED
iframe_pihole_url: REDACTED/
plex_server_host: 0.0.0.0
plex_server_name: REDACTED
mqtt_broker: 0.0.0.0
mqtt_broker_port: 0
mqtt_broker_username: REDACTED
mqtt_broker_password: REDACTED
synology_ip: 0.0.0.0
synology_password: REDACTED
synology_user: REDACTED
pi_hole_host: 0.0.0.0

#
# Static Wemo Switches
#
wemo_static_switch_1: 0.0.0.0
wemo_static_switch_2: 0.0.0.0
wemo_static_switch_3: 0.0.0.0

#
# Usernames / Passwords
#
traccar_username: REDACTED
traccar_password: REDACTED
influxdb_username: REDACTED
influxdb_password: REDACTED
alexa_username: REDACTED
alexa_password: REDACTED
alexa_domain: REDACTED
tile_email: REDACTED
tile_password: REDACTED
steam_api: REDACTED
steam_user: 0

#
# API Keys
#
nest_client_id: REDACTED
nest_client_secret: REDACTED
darksky_api_key: REDACTED
uptimerobot_api_key: REDACTED
uk_transport_app_id: 0
uk_transport_app_key: REDACTED
gitlab_token: REDACTED
gitlab_url: REDACTED

#
# Zones
#
zone_home_latitude: 0.0000000000000
zone_home_longitude: 0.0000000000000
zone_home_elevation: 0
zone_holiday_highands_latitude: 0.0000000000000
zone_holiday_highands_longitude: 0.0000000000000
zone_parents_hers_latitude: 0.0000000000000
zone_parents_hers_longitude: 0.0000000000000
zone_parents_his_latitude: 0.0000000000000
zone_parents_his_longitude: 0.0000000000000
zone_sibling_his_latitude: 0.0000000000000
zone_sibling_his_longitude: 0.0000000000000
zone_work_his_latitude: 0.0000000000000
zone_work_his_longitude: 0.0000000000000
zone_work_hers_a_latitude: 0.0000000000000
zone_work_hers_a_longitude: 0.0000000000000
zone_work_hers_b_latitude: 0.0000000000000
zone_work_hers_b_longitude: 0.0000000000000
