# NxFIFTEEN's Home Assistant Configuration :wave:

{%- set custom_component_descriptions = 
    {
			"readme": {
				"description": "Generates this awesome readme file.",
				"usage": "I use this integration to generate this readme, and to convert my lovelace configuration."
			},
			"hacs": {
				"description": "Manage (Install, track, upgrade) and discover custom elements for Home Assistant.",
				"usage": "I use this to discover new awesome stuff, and to keep the custom elements I use up to date with the latest version of it from the developer."
			}
		}
-%}

So this is my Home Assistant instance :confetti_ball:

This repository exists mostly for my own amusement, but it may contain some things that others might find useful.

When starting with home automation I found many well documented configurations and drew inspiration from them in order to achieve my automation goals. 
I wanted to share my success with the community and hopefully help others on their journey. 

This is a summary of my setup, the full documentation will be hosted on [the repo wiki](https://git.nxfifteen.rocks/home/home-assistant/wikis/home)

## Hardware and general setup

For my setup I use my mobile Lovelace UI and my Alexa's to control my setup by voice.

OS | Alpine Linux running on a Proxmox VM
-- | --
SSD | 250GB
RAM | 32GB
Processor | Intel NUC 2.2 GHz
Connectivity | WiFi

For the installation method of Home Assistant I customized [the generic Linux installation of Hassio](https://github.com/nxfifteen/hassio-installer) to install onto Alpine Linux

This method stores the files used by hassio/Home Assistant in `/usr/share/hassio`.

My configuration is stored in this Git repo, and I use the [Git pull](https://www.home-assistant.io/addons/git_pull/) addon to pull updates once they pass the CI/CD checks.

For my theme I use an automation to change the theme used based on day/night cycle. During daylight hours I use the default theme, but at night I switch to [Blue Night Theme](https://github.com/home-assistant-community-themes/blue-night).

To access my instance I'm using my [Nabu Casa](https://www.nabucasa.com/) link.

## Devices

### [Climate](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/climate)

* Comming Soon

### [Lighting](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/lights)

* Comming Soon

### [Sensors](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/sensors)

* Comming Soon

### [Switches](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/switches)

* Comming Soon

### [Cameras](https://git.nxfifteen.rocks/home/home-assistant/wikis/cctv/cameras)

* Comming Soon

### [Media](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/media)

* Comming Soon

### [Network](https://git.nxfifteen.rocks/home/home-assistant/wikis/setup/networking)

* Comming Soon

### [Location](https://git.nxfifteen.rocks/home/home-assistant/wikis/devices/location)

* Comming Soon

## Automations

{% for state in states %}
  {% if state.domain | lower == "automation" -%}
  {{ state.name|replace("_", " ") | title }} / [Wiki](https://git.nxfifteen.rocks/home/home-assistant/wikis/{{ state.entity_id|replace(".", "/")|replace(" ", "_") }})
  {%- endif %}
{%- endfor %}.

## Core integrations that I use

- [AdGuard Home](https://www.home-assistant.io/components/adguard/)
- [Belkin WeMo](https://www.home-assistant.io/components/wemo/)
- [Default Config](https://www.home-assistant.io/components/default_config/)
- [Entur public transport](https://www.home-assistant.io/components/entur_public_transport/)
- [File](https://www.home-assistant.io/components/file/)
- [Input Boolean](https://www.home-assistant.io/components/input_boolean/)
- [Met.no](https://www.home-assistant.io/components/met/)
- [Shell command](https://www.home-assistant.io/components/shell_command/)
- [Spotify](https://www.home-assistant.io/components/spotify/)

## Custom Components that I use

A summary of custom_components that I use.
{% for integration in custom_components %}
### [{{integration.name}}]({{integration.documentation}})
{% if integration.domain in custom_component_descriptions %}
_{{custom_component_descriptions[integration.domain]["description"]}}_

{{custom_component_descriptions[integration.domain]["usage"]}}
{% endif -%}
{% endfor %}

## Custom Lovelace plugins that I use

A summary of custom Lovelace plugins that I use.

### [Compact Custom Header](https://github.com/maykar/compact-custom-header)

_CCH - Customize the header and add enhancements to Lovelace. Features: kiosk mode, conditional header styling, per user/device views, swiping between views on mobile, and more._

I use this to get more screen space by minifying the space used by the header, and to lock my laptop that I have in the hallway by the door to one view.

## Statistics from the instance

Description | Value
-- | --
{%- set data = namespace(domains=[]) %}
{%- for state in states %}
{%- if state.domain not in data.domains %}
{%- set data.domains = data.domains + [state.domain] %}
{%- endif %}
{%- endfor %}
{%- for domain in data.domains %}
Entities in the [`{{domain}}`](https://www.home-assistant.io/components/{{domain}}) domain | {{states[domain] | count }}
{%- endfor %}

***

Like all other Home Assistant instances this is also a Work in Progress :D

## License

MIT License

Copyright (c) 2014-2019 Stuart McCulloch Anderson

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.